@tailwind base;
@tailwind components;

:root {
  --c-bg: 20 20 30;
  --c-bg-unread: 27 27 44;
  --c-bg-secondary: 26 26 38;
  --c-command-palette-bg: 38 38 54;
  --c-bg-highlight-active: 32 32 48;
  --c-bg-highlight-hover: 27 27 42;
  --c-tooltip-bg: 60 60 80;
  --c-tooltip-on-bg: 215 215 235;
  --c-primary: 144 181 255;
  --c-star: 255 180 105;
  --c-barrier: 16 16 24;
  --c-shadow: 0 0 6;
  --c-on-bg: 215 215 235;
  --c-scrollbar-bg: 94 95 115;
  --c-scrollbar-thumb: 165 165 185;
  --c-icon-red: 255 157 157;
  --c-icon-lime: 190 219 142;
  --c-icon-blue: 161 199 255;
  --c-icon-yellow: 219 207 146;
  --c-icon-purple: 209 161 255;
  --c-icon-green: 136 214 148;
  --c-notification: 144 181 255;
  --c-macos-red: 255 105 97;
  --c-macos-orange: 255 179 64;
  --c-macos-green: 48 209 88;
  --o-shadow-normal: 0.2;
  --o-shadow-strong: 0.3;
  --o-shadow-stronger: 0.4;
  --o-shadow-command-palette: 0.6;
  --o-barrier: 0.8;
  --o-primary-focus-visible: 0.6;
}

html[data-theme="light"] {
  --c-bg: 250 250 255;
  --c-bg-unread: 238 240 254;
  --c-bg-secondary: 238 238 245;
  --c-command-palette-bg: 250 250 255;
  --c-bg-highlight-active: 230 230 242;
  --c-bg-highlight-hover: 238 238 250;
  --c-tooltip-bg: 250 250 255;
  --c-tooltip-on-bg: 0 0 12;
  --c-primary: 64 101 185;
  --c-star: 225 120 5;
  --c-barrier: 0 0 12;
  --c-shadow: 0 0 6;
  --c-on-bg: 0 0 12;
  --c-scrollbar-bg: 185 185 195;
  --c-scrollbar-thumb: 90 90 102;
  --c-icon-red: 155 57 57;
  --c-icon-lime: 90 119 42;
  --c-icon-blue: 61 99 155;
  --c-icon-yellow: 119 107 46;
  --c-icon-purple: 109 61 155;
  --c-icon-green: 36 114 48;
  --c-notification: 64 101 185;
  --c-macos-red: 255 59 48;
  --c-macos-orange: 255 204 0;
  --c-macos-green: 52 199 89;
  --o-shadow-normal: 0.08;
  --o-shadow-strong: 0.16;
  --o-shadow-stronger: 0.24;
  --o-shadow-command-palette: 0.24;
  --o-barrier: 0.5;
  --o-primary-focus-visible: 0.7;
}

body {
  font-family: DM Sans, sans-serif;
}

.tiptap p.is-editor-empty:first-child::before {
  color: rgb(var(--c-on-bg) / 0.5);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p {
  margin-top: 1.5rem;
}

.tiptap p:first-child,
.tiptap h1:first-child,
.tiptap h2:first-child {
  margin-top: 0;
}

.tiptap h1 + p,
.tiptap h2 + p {
  margin-top: 0.5rem;
}

.tiptap a {
  text-decoration: underline;
}

.tiptap h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 2rem;
}

.tiptap h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

div[data-tippy-root][data-animation="rotate"][data-state="visible"][data-placement="top"] {
  opacity: 0;
  transform: rotate(45deg);
}
div[data-tippy-root][data-animation="rotate"][data-state="visible"][data-placement="top"] {
  opacity: 0;
  transform: rotate(45deg);
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
button:focus,
button:focus-visible,
div:focus,
div:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
}

.scroll-area-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.scroll-area-bar[data-state="hidden"] {
  transition: width 0.15s cubic-bezier(0, 0.55, 0.45, 1),
    background 0.15s cubic-bezier(0, 0.55, 0.45, 1), opacity 0.3s ease;
}
.scroll-area-bar {
  transition: width 0.15s cubic-bezier(0, 0.55, 0.45, 1),
    background 0.15s cubic-bezier(0, 0.55, 0.45, 1);
}

@tailwind utilities;
