@tailwind base;
@tailwind components;

:root {
  --c-bg: 16 16 22;
  --c-bg-secondary: 24 24 32;
  --c-bg-tertiary: 32 32 44;
  --c-bg-quaternary: 40 40 52;
  --c-bg-quinary: 58 58 74;
  --c-bg-highlight: 28 28 38;
  --c-bg-highlight-secondary: 32 32 44;
  --c-bg-highlight-tertiary: 36 36 50;
  --c-bg-unread: 16 16 30;
  --c-primary: 144 181 255;
  --c-barrier: 16 16 22;
  --c-shadow: 0 0 6;
  --c-on-bg: 220 220 230;
  --c-icon-red: 255 157 157;
  --c-icon-lime: 190 219 142;
  --c-icon-blue: 161 199 255;
  --c-icon-yellow: 219 207 146;
  --c-icon-purple: 209 161 255;
  --c-icon-green: 136 214 148;
  --c-notification: 105 145 250;
  --c-macos-red: 255 105 97;
  --c-macos-orange: 255 179 64;
  --c-macos-green: 48 209 88;
  --o-shadow-normal: 0.25;
  --o-shadow-strong: 0.35;
  --o-primary-highlight: 0.125;
}

body {
  font-family: DM Sans, sans-serif
}

.tiptap p.is-editor-empty:first-child::before {
  color: rgb(var(--c-on-bg)/0.5);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p {
  margin-top: 1.5rem
}

.tiptap p:first-child, .tiptap h1:first-child, .tiptap h2:first-child {
  margin-top: 0
}

.tiptap h1 + p, .tiptap h2 + p {
  margin-top: 0.5rem
}

.tiptap a {
  text-decoration: underline;
}

.tiptap h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 2rem;
}

.tiptap h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
}


div[data-tippy-root][data-animation='rotate'][data-state='visible'][data-placement="top"] {
  opacity: 0;
  transform: rotate(45deg);
}
div[data-tippy-root][data-animation='rotate'][data-state='visible'][data-placement="top"] {
  opacity: 0;
  transform: rotate(45deg);
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
button:focus,
button:focus-visible,
div:focus,
div:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
}

@tailwind utilities;
