@tailwind base;
@tailwind components;

:root {
  --c-bg: 20 20 30;
  --c-bg-unread: 28 28 42;
  --c-bg-secondary: 26 26 38;
  --c-bg-tertiary: 38 38 54;
  --c-bg-command-palette: 42 42 60;
  --c-bg-highlight: 32 32 48;
  --c-bg-highlight-secondary: 35 35 53;
  --c-primary: 144 181 255;
  --c-favorite: 255 180 105;
  --c-barrier: 16 16 24;
  --c-shadow: 0 0 6;
  --c-on-bg: 215 215 235;
  --c-on-bg-secondary: 135 135 155;
  --c-on-bg-tertiary: 85 85 105;
  --c-icon-red: 255 157 157;
  --c-icon-lime: 190 219 142;
  --c-icon-blue: 161 199 255;
  --c-icon-yellow: 219 207 146;
  --c-icon-purple: 209 161 255;
  --c-icon-green: 136 214 148;
  --c-notification: 144 181 255;
  --c-macos-red: 255 105 97;
  --c-macos-orange: 255 179 64;
  --c-macos-green: 48 209 88;
  --o-shadow-normal: 0.2;
  --o-shadow-strong: 0.3;
  --o-shadow-command-palette: 0.6;
}

body {
  font-family: DM Sans, sans-serif;
}

.tiptap p.is-editor-empty:first-child::before {
  color: rgb(var(--c-on-bg) / 0.5);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p {
  margin-top: 1.5rem;
}

.tiptap p:first-child,
.tiptap h1:first-child,
.tiptap h2:first-child {
  margin-top: 0;
}

.tiptap h1 + p,
.tiptap h2 + p {
  margin-top: 0.5rem;
}

.tiptap a {
  text-decoration: underline;
}

.tiptap h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 2rem;
}

.tiptap h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

div[data-tippy-root][data-animation="rotate"][data-state="visible"][data-placement="top"] {
  opacity: 0;
  transform: rotate(45deg);
}
div[data-tippy-root][data-animation="rotate"][data-state="visible"][data-placement="top"] {
  opacity: 0;
  transform: rotate(45deg);
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
button:focus,
button:focus-visible,
div:focus,
div:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
}

.scroll-area-thumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.scroll-area-bar[data-state=hidden] {
  transition: width 0.15s cubic-bezier(0, 0.55, 0.45, 1), background 0.15s cubic-bezier(0, 0.55, 0.45, 1), opacity 0.3s ease;
}
.scroll-area-bar {
  transition: width 0.15s cubic-bezier(0, 0.55, 0.45, 1), background 0.15s cubic-bezier(0, 0.55, 0.45, 1);
}

.color-scheme-dark {
  color-scheme: dark;
}

.color-scheme-light {
  color-scheme: light;
}

@tailwind utilities;
