@tailwind base;
@tailwind components;

:root {
  --c-bg: 16 16 22;
  --c-bg-secondary: 24 24 30;
  --c-bg-tertiary: 32 32 38;
  --c-bg-highlight: 32 32 38; 
  --c-on-bg: 240 240 250;
  --c-icon-red: 229 126 126;
  --c-icon-lime: 171 214 129;
  --c-icon-lightblue: 134 181 250;
  --c-icon-yellow: 235 217 126;
  --c-notification-blue: 105 145 250;
  --c-macos-red: 255 105 97;
  --c-macos-orange: 255 179 64;
  --c-macos-green: 48 209 88;
}

body {
  font-family: DM Sans, sans-serif
}

@tailwind utilities;
