.tippy-box[data-placement^=top]>.tippy-svg-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-svg-arrow:after,.tippy-box[data-placement^=top]>.tippy-svg-arrow>svg{top:16px;transform:rotate(180deg)}.tippy-box[data-placement^=bottom]>.tippy-svg-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-svg-arrow>svg{bottom:16px}.tippy-box[data-placement^=left]>.tippy-svg-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-svg-arrow:after,.tippy-box[data-placement^=left]>.tippy-svg-arrow>svg{transform:rotate(90deg);top:calc(50% - 3px);left:11px}.tippy-box[data-placement^=right]>.tippy-svg-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-svg-arrow:after,.tippy-box[data-placement^=right]>.tippy-svg-arrow>svg{transform:rotate(-90deg);top:calc(50% - 3px);right:11px}.tippy-svg-arrow{width:16px;height:16px;text-align:initial}.tippy-svg-arrow,.tippy-svg-arrow>svg{position:absolute}
.tippy-box[data-animation='tooltip-animation'][data-state='hidden'][data-placement^="top"] {
  opacity: 0;
  transform: translateY(1.5rem) scale(0.9);
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.tippy-box[data-animation='tooltip-animation'][data-state='visible'][data-placement^="top"] {
  opacity: 1;
  transform: translateY(0rem) scale(1);
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.tippy-svg-arrow {
  pointer-events: none;
}